<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>Binding Component Application</display-name>
	<description>
        This is a simple web application with a source code organization.
    </description>

	<servlet>
		<servlet-name>BCStarterServlet</servlet-name>
		<servlet-class>eu.chorevolution.vsb.bc.war.BCStarterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BCStarterServlet</servlet-name>
		<url-pattern>/BCStarterServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RestServlet</servlet-name>
		<servlet-class>eu.chorevolution.vsb.artifact.war.RestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestServlet</servlet-name>
		<url-pattern>/RestServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StartBcManagerServlet</servlet-name>
		<servlet-class>eu.chorevolution.vsb.artifact.war.StartBcManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartBcManagerServlet</servlet-name>
		<url-pattern>/bcm</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>